.footer {
    background: #316099;
    padding: 95px 0 65px 7vw;

    @media (max-width: $md1 + px) {
        padding: 95px 0 65px 0;
    }

    @media (max-width: $md3 + px) {
        padding: 50px 0;
    }

    // .footer__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: 300px minmax(165px, 180px) minmax(100px, 140px);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        justify-content: flex-start;
        column-gap: 80px;

        @media(max-width: $md1 + px) {
            justify-content: center;
        }

        @media(max-width: $md3 + px) {
            grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
            gap: 60px;
        }
    }

    // .footer__column

    &__column {
        &:nth-last-of-type(2) {
            justify-self: flex-end;

            @media(max-width: $md1 + px) {
                justify-self: auto;
            }
        }
    }

    // .footer__logo

    &__logo {
        position: relative;
        display: inline-block;
        padding-left: 63px;
        margin-bottom: 33px;

        &::before {
            content: '';
            display: block;
            width: 48px;
            height: 32px;
            position: absolute;
            left: 0;
            top: 8px;
            background: url('../img/logo-footer.svg');
        }

        &:hover {
            text-decoration: none;
        }

        @media (max-width: $md3 + px) {
            margin-bottom: 20px;
        }
    }

    // .footer__title

    &__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.64;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    // .footer__group

    &__group {
        display: flex;
        margin-bottom: 24px;

        &:last-child {
            margin: 0;
        }

        @media (max-width: $md3 + px) {
            margin-bottom: 14px;
        }
    }

    // .footer__letter

    &__letter {
        margin-right: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    // .footer__address, .footer__phone, .footer__email

    &__address,
    &__phone,
    &__email {
        color: #FFFFFF;
    }

    // .footer__subtitle

    &__subtitle {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.05em;
        color: #FFFFFF;

        @media (max-width: $md3 + px) {
            margin-bottom: 20px;
        }
    }

    // .footer__list

    &__list {
        margin: -6px 0;

        @media (max-width: $md3 + px) {
            margin: -3px 0;
        }
    }

    // .footer__item

    &__item {
        margin-bottom: 4px;

        &:last-child {
            margin: 0;
        }
    }

    // .footer__link

    &__link {
        display: inline-block;
        padding: 6px 0;
        text-transform: capitalize;
        color: #fff;

        @media (max-width: $md3 + px) {
            padding: 3px 0;
        }
    }

    // .footer__copy

    &__copy {
        margin-top: 64px;
        color: #FFFFFF;
        opacity: 0.4;

        @media (max-width: $md3 + px) {
            margin-top: 50px;
            text-align: center;
        }
    }
}
