.offer {
    padding: 180px 0;

    @media (max-width: $md1 + px) {
        padding: 100px 0;
    }

    @media (max-width: $md3 + px) {
        padding: 50px 0;
    }

    // .offer__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 460px));
        row-gap: 50px;
        column-gap: 20px;

        @media (max-width: $md2 + px) {
            justify-content: center;
        }
    }

    // .offer__column

    &__column {
        display: grid;
        grid-template-columns: minmax(330px, 380px);
        grid-template-rows: repeat(2, minmax(138px, auto));
        grid-auto-rows: minmax(138px, auto);
        row-gap: 100px;
        justify-content: flex-end;
        align-content: flex-start;

        @media (max-width: $md2 + px) {
            row-gap: 50px;
            justify-content: center;
        }

        &_column1 {
            row-gap: 158px;

            @media (max-width: $md2 + px) {
                row-gap: 50px;
            }

            @media (max-width: $md4 + px) {
                row-gap: 0;
            }
        }
    }

    // .offer__title

    &__title {
        max-width: 360px;

        @media (max-width: $md4 + px) {
            font-size: 30px;
        }
    }

    // .offer__card

    &__card {
        max-width: 380px;
        padding: 47px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;

        @media (max-width: $md4 + px) {
            padding: 25px;
        }
    }

    // .offer__img

    &__img {
        margin: 0 auto;
        position: relative;
        width: 132px;
        height: 132px;
        border-radius: 100%;
        background: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 250px;
        }

        &_img2 {
            img {
                bottom: -6px;
                right: -66px;
            }
        }
    }

    // .offer__subtitle

    &__subtitle {
        margin-top: 56px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.05em;
        text-transform: capitalize;

        @media (max-width: $md4 + px) {
            font-size: 18px;
        }
    }

    // .offer__desc

    &__desc {
        margin-top: 16px;
    }

    // .offer__link

    &__link {
        display: inline-block;
        margin-top: 32px;
        font-size: 14px;
        font-weight: 600;
        line-height: 2.14;
        letter-spacing: 0.05em;
        color: #5A98D0;

        &:hover {
            text-decoration: none;
        }
    }
}
