.promo {
    padding-top: 60px;

    // .promo__title

    &__title {
        max-width: 520px;
        margin-bottom: 32px;
        font-family: "Galien";
        font-weight: 700;
        font-size: 64px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: #1F3F68;

        @media (max-width: 576px) {
            max-width: 400px;
            font-size: 40px;
        }
    }

    // .promo__desc

    &__desc {
        max-width: 425px;
        margin-bottom: 71px;
        line-height: 1.62;
        letter-spacing: 0.05em;
        opacity: .6;
    }
}
