<div class="bottom@@class">
    <section class="work">
        <div class="container">
            <div class="work__wrapper">
                <div class="work__column">
                    <h2 class="title work__title">Intersted to work with our team?</h2>
                    <p class="desc desc_white work__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <div class="work__column">
                    <button class="btn popup-link">Let’s Talk</button>
                </div>
            </div>
        </div>
    </section>

    @@include('_footer.html',{})
</div>