<form action="#" id="form" class="form contacts__form">
    <h2 class="form__title">send us message</h2>
    <div class="form__field">
        <label for="username" class="form__label">full name</label>
        <input placeholder="Your Name" type="text" id="username" name="username" class="form__input req">
    </div>
    <div class="form__field">
        <label for="email" class="form__label">email</label>
        <input placeholder="Your email" type="text" id="email" name="email" class="form__input req email">
    </div>
    <div class="form__field">
        <label for="message" class="form__label">message</label>
        <textarea placeholder="Your message" name="message" id="message" class="form__textarea req"></textarea>
    </div>
    <button type="submit" class="btn form__btn">submit</button>
</form>